<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <style>
        body {
            background: linear-gradient(135deg, #9093cc, #8f94fb);
        }

        form {
            background-color: white;
        }
    </style>
    <div class="container mt-5">


        <form method="POST" enctype="multipart/form-data" class="border p-4 shadow rounded my-3">
            <div class=" container d-flex justify-content-between my-3 text-center">
                
                {% if not request.user.is_superuser and request.user.user_type != 'service_provider' %}
                <h2 class="text-center">Update Your Profile</h2>
                {% else %}
                <h2 class="text-center">Profile Details</h2>
                {% endif %}
                {% if request.user.is_superuser %}
                <a href="{% url 'admins' %}" class="btn btn-secondary mt-1"><b>Back to Home</b></a>
                {% elif request.user.user_type == 'customer' %}
                <a href="{% url 'user' %}" class="btn btn-secondary mt-1"><b>Back to Home</b></a>
                {% elif request.user.user_type == 'service_provider' %}
                <a href="{% url 'provider_booking' %}" class="btn btn-secondary mt-1"><b>Back to Home</b></a>
                {% endif %}
            </div>
            {% csrf_token %}

            {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                <div class="text-danger">
                    {{ field.errors }}
                </div>
                {% endif %}
            </div>
            {% endfor %}

            {% if not request.user.is_superuser %}
            <button type="submit" class="btn btn-primary w-100">Update Profile</button>
            {% endif %}


        </form>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>